---
# Cert.yaml: Configuración de certificados

# Version de fichero de config.
version:    {{ .Version }}

# Ruta al certificado de la CA raíz confiable
rootFile:   "{{ js .Folders.RootCA }}"

# Ruta al certificado y clave privada del servidor SQL
certFile:   ""
keyFile:    ""

# Nombre de dominio para certificados autofirmados
certDomain: "*.tenants.smartbi.es"

# Longitud de clave para certs. autofirmados
keyBits:    2048